/* Add CSS Styling */
.odd {
  background-color: rgb(255, 177, 177);
  font-family: "Verdana", "Dejavu Sans", "sans-serif";
}

#two {
  color: rgb(38, 0, 255);
  font-size: 32px;
}

.adjust-font-size {
  font-size: 24px;
}

#four {
  background-color: #76f892;
}
